html, body {
	background: #EEEEEE;
	width: 100%;
  padding: 0px;
  margin: 0px;
}

#root {	
  width: 100%;
	padding: 0px;
  margin: 0px;
}

.container {
  width: 90%;
	padding: 0px;
  margin: 50px auto;
}

.relative {
	position: relative;
}

.italic {
	font-style: italic;
}

.font-bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}