.contentEditable {
  height: 200px;
  text-align: left;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  overflow: hidden;
  padding: 60px 20px;
  outline: none;
}

.contentEditable ul, .contentEditable ol {
  margin-left: 20px;
  padding-left: 0px;
}

.toolbar {
  background: #CCCCCC;
  position: absolute;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: none;
}

.toolbar button {
  background: #CCCCCC;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 6px;
}

.bg_grey {
  background: #F6F6F6 !important;
}

.container_editor {
  position: relative;
  width: 100%;
}